body {
   margin: 0;
}

.top {
   background: #1F2937
}

.header {
   height: 72px;
   color: #FFFFFF;
   padding: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   color: white;
   font-size: 24px;
   font-weight: bold;
 }

 ul {
   list-style-type: none;
   display: flex;
   margin: 0;
   padding: 0;
   gap: 16px;
 }
 
 a {
   text-decoration: none;
   color: white;
 }

 .head-container {
   padding: 16px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: white;
 }

 #sign-up-btn {
   background-color: #3882F6;
   color: white;
   width: 100px;
   height: 30px;
   padding: 4px;
   border-radius: 4px;
   border-color: white;
 }

 #sign-up-btn:hover {
   background-color: white;
   color: #3882F6;
   border-radius: 4px;
   border-color: #3882F6;
 }

 .body-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-evenly;
   background-color: white;
   text-align: center;
   padding: 16px;
   margin: 16px;
 }

 .img-container {
   display: flex;
   justify-content: center;
   gap: 100px;
 }
 
 .item {
   text-align: center;
 }

 img {
   border: 3px solid #3882F6;
   border-radius: 3px;
 }

 .body-cont-title {
   color: #3882F6;
 }

 .quote {
   background-color: #E5E7EB;
   font-size: 36px;
   font-style: italic;
   justify-content: center;
   align-items: center;
   margin: 0;
 }

 .action {

 }

.footer {
   height: 72px;
   background: #1F2937;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 } 