body {
   margin: 0;
}

.top {
   background: #1F2937
}

.header {
   height: 72px;
   color: #FFFFFF;
   padding: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   color: white;
   font-weight: bold;
 }

 ul {
   list-style-type: none;
   display: flex;
   margin: 0;
   padding: 0;
   gap: 16px;
 }
 
 a {
   text-decoration: none;
   color: white;
 }

 .head-container {
   padding: 16px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: white;
   text-wrap: wrap;
 }

 h1 {
   color: white;
 }

 #sign-up-btn {
   background-color: #3882F6;
   color: white;
   width: 100px;
   height: 30px;
   padding: 4px;
   border-radius: 4px;
   border-color: white;
 }

 #sign-up-btn:hover {
   background-color: white;
   color: #3882F6;
   border-radius: 4px;
   border-color: #3882F6;
 }

.footer {
   height: 72px;
   background: #1F2937;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 } 